.container {
  margin: 50px;
}
.Card_mod {
  padding: 2px 2px 2px 0px !important;
  background-color: #fdfdfd !important;
  box-shadow: 2px 2px 8px #ccc !important;
  transition: all 0.3s ease-in-out !important;
}
.Card_mod:hover {
  transform: scale(1.08);
  box-shadow: 2px 2px 10px #ccc !important;
}
.sup-text {
  font-weight: 200;
  font-size: 0.8vw;
  margin-bottom: 5px;
}
.value {
  font-weight: 500;
  font-size: 2.5vw;
  margin-bottom: 5px;
}
.sub-text {
  margin-top: 5px;
  font-weight: 300;
  font-size: 0.9vw;
}
.infected {
  margin: 0 3% !important;
  border-bottom: 3px solid #035aa6 !important;
}
.recovered {
  margin: 0 3% !important;
  border-bottom: 3px solid #21bf73 !important;
}
.deaths {
  margin: 0 3% !important;
  border-bottom: 3px solid #fa163f !important;
}

.lastUpdated_mod {
  margin-top: 40px;
  font-weight: 400;
  font-size: 0.9vw;
}
.lastUpdated_mod_1 {
  margin-top: 10px;
  font-weight: 400;
  font-size: 0.9vw;
  text-align: center;
  line-height: 150%;
}
.lastUpdated_mod small {
  margin-left: 5px;
  font-weight: 500;
  font-size: 1.1vw;
}
.lastUpdated_mod_1 small {
  margin-left: 5px;
  font-weight: 500;
  font-size: 1.1vw;
}

@media (max-width: 770px) {
  .Card_mod {
    margin: 2% 0 !important;
  }
  .sup-text {
    font-weight: 300;
    font-size: 2vw;
    margin-bottom: 5px;
  }
  .value {
    font-weight: 500;
    font-size: 7vw;
    margin-bottom: 5px;
  }
  .sub-text {
    margin-top: 5px;
    font-weight: 300;
    font-size: 2.5vw;
  }
  .lastUpdated_mod {
    margin-top: 40px;
    font-weight: 400;
    font-size: 3vw;
  }
  .lastUpdated_mod small {
    margin-left: 2px;
    font-weight: 500;
    font-size: 4vw;
  }
  .lastUpdated_mod_1 {
    margin-top: 10px;
    font-weight: 400;
    font-size: 3vw;
    text-align: center;
    line-height: 150%;
  }
  .lastUpdated_mod_1 small {
    margin-left: 2px;
    font-weight: 500;
    font-size: 4vw;
  }
}
