.FormControl_mod {
  width: 30%;
  margin-top: 5px !important;
  margin-bottom: 10px !important;
  padding: 5px !important;
  background-color: #fdfdfd !important;
  opacity: 0.85;
  transition: all 0.3s ease-in-out !important;
  border-radius: 5px;
}

.FormControl_mod:hover {
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.89), 2px 2px 5px #ccc !important;
  background-color: #fdfdfd00 !important;
  transform: scale(1.05);
}
.NativeSelect_mod {
  font-size: 1.3vw !important;
  font-weight: 500 !important;
  border-bottom: 2px black;
}
.option_mod {
  margin-bottom: 15px !important;
  font-weight: 400 !important;
  font-size: 1.3vw !important;
}
@media (max-width: 770px) {
  .FormControl_mod {
    width: 85%;
  }
  .NativeSelect_mod {
    font-size: 5vw !important;
    font-weight: 500 !important;
    border-bottom: 2px black;
  }
  .option_mod {
    margin-bottom: 15px !important;
    font-weight: 400 !important;
    font-size: 4vw !important;
  }
}
