@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700&display=swap");
:root {
  --loader-width: 70px;
  --loader-height: 70px;
  --loader-color-primary: #808080;
  --loader-color-secondary: #eee;
  --line-width: 3px;
  --animation-duration: 2s;
  --loader-initial-scale: 0.1;
}
body {
  background-color: #fdfdfd;
  font-family: "Montserrat", sans-serif;
  color: #1b1b2f !important;
  /*background-color: darkslategray;*/
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 30px 10%;
}
.centerized {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header {
  text-align: center;
}
.header img {
  width: 30%;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}
.footer {
  position: relative;
  top: 100%;
  width: 100%;
  height: auto;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px #ccc !important;
  transition: all 0.3s ease-in-out !important;
}
.footer:hover {
  box-shadow: 2px 2px 5px #ccc !important;
  transform: scale(1.05);
}
.footer a {
  text-decoration: none;
  color: #1b1b2fb2;
}
.attribute {
  text-align: left;
  font-weight: 300;
  font-size: 0.8vw;
}
.attribute small {
  font-weight: 500;
  font-size: 0.7vw;
}
.socials {
  position: relative;
  text-align: right;
  font-weight: 300;
  font-size: 0.8vw;
}
.socials small {
  font-weight: 500;
  font-size: 0.7vw;
}
.landscape_Error {
  margin: 10px;
}
#love_is_good_logo {
  margin-top: 10%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.background_pc {
  text-align: center;
  color: #999999;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: -100;
}
.background_mob {
  display: none;
}
.loader,
.loader:before,
.loader:after {
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 0;
}
/*
In order to get optimal results, please only change the 
variables above and don't change anything in the actual loader code
*/

.loader.double-circle {
  position: relative;
  width: var(--loader-width, 100px);
  height: var(--loader-height, 100px);
}

.double-circle::before,
.double-circle::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  border: var(--line-width, 4px) solid transparent;
  border-bottom-color: var(--loader-color-primary, #33f);
  animation: circle-loader var(--animation-duration, 1s) infinite linear;
}

.double-circle::before {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.double-circle::after {
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  top: 6px;
  left: 6px;
  animation-direction: reverse;
}

@keyframes circle-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 770px) {
  .background_pc {
    display: none;
  }
  .container {
    margin-top: 30px;
  }
  .attribute {
    text-align: left;
    font-weight: 300;
    font-size: 1.8vw;
  }
  .attribute small {
    font-weight: 500;
    font-size: 1.5vw;
  }
  .socials {
    position: relative;
    text-align: right;
    font-weight: 300;
    font-size: 1.8vw;
  }
  .socials small {
    font-weight: 500;
    font-size: 1.5vw;
  }
  .header img {
    width: 80%;
    display: block;
    margin: auto;
    margin-bottom: 10px;
  }
}
::-webkit-scrollbar {
  width: 0.5vw;
}

::-webkit-scrollbar-track {
  background-color: #fdfdfd;
  margin-top: 5px;
  margin-bottom: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #dfdfdf;
  border-radius: 10px;
}
